:root {
    --border-rad: 15px;

}

#super-Button {
    padding: 15px;
}

.button {
    display: flex;
    height: 40px;
    padding: 0;
    background: #00952d;
    border: none;
    outline: none;
    border-radius: 5.5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:hover {
    background: #04812a;
  }
  
  .button:active {
    background: #00952dce;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
  